@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
  display: inline-block;
  animation: slide 30s infinite linear;
  white-space: nowrap; /* Aggiungi questa riga */
  overflow: hidden; /* Aggiungi questa riga */
}

.logos-slide img {
  height: 250px;
  margin: 0 40px;
  border-radius: 20px;
}

.logos-slide a {
  text-decoration: none;
}
