
.content-aziende{
    padding: 1em 0.5em;
    clear: right;
    background-color: white;
    display: flex;
    justify-content: center;
    }
    .azienda{
        display: flex;
        align-items: center;
        padding: 20px;
        flex-wrap: wrap;
        margin-left: 35px;
    }
    .azienda1{ 
        font-weight: bold;
        font-size: 20px;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        background-color: white;
        text-align: center;
        height: 250px;
        width: 250px;
        float: left;
        margin: 30px;
        color:white;
        padding: 30px;
        border-radius: 15px;
        
    }

    .cont-az{
        border-top: 3px solid #ff7a57;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

.cont-img{
    border-top: 3px solid #ff7a57;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 165px;
}
    .img{
        margin-top: 10px;
        max-height: 150px;
        border-radius: 15px;
        max-width: 190px;
        height: auto;
        width: auto;

    }


    .nome-az{
        width: 100%;
        background-color: #ff7a57;
        border-radius: 15px;
        padding: 5px;
    }