.content-aziende{
    padding: 1em 0.5em;
    clear: right;
    background-color: white;
    }
    .azienda{
        padding: 20px;
        display: flex;
        align-items: center;
        padding: 20px;
        flex-wrap: wrap;
    }
    .azienda1{ 
        font-weight: 400px;
        font-size: 20px;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        background-color: white;
        text-align: center;
        height: 250px;
        width: 250px;
        float: left;
        margin: 30px;
        color: #ff7a57;
        padding: 30px;
        border-radius: 15px;
        
    }
    .main-aziende{
        display: flex;
    }
.cont-img{
    border-top: 2px solid #ff7a57;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
    .img{
        padding-top: 10px;
        height: 150px;
        border-radius: 15px;
    }