.content-aziende{
    padding: 1em 0.5em;
    clear: right;
    background-color: white;
    }
    .azienda{
        padding: 20px;
        display: flex;
        align-items: center;
        padding: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .azienda1{
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        background-color: white;
        text-align: center;
        height: 250px;
        width: 250px;
        float: left;
        margin: 30px;
        padding: 30px;
        color:#ff7a57;
        border-radius: 15px;
    }
    .main-aziende{
        display: flex;
    }