.contatti{
display: block;
padding-top: 20px;
margin-left: 1em;
}
.contatti_indirizzo{
text-align: center;
margin: 50px;

}
.contatti_indirizzo_nome{
    margin-bottom: 10px;
    font-size: 20px;
}

.contatti_indirizzo_numero{
    margin-bottom: 10px;
    font-size: 20px;
}

.contatti_modulo{
color:#2c2c2a;
text-align: center;
margin-bottom: 10px;
padding-left: 300px;
padding-right: 300px;
font-size: 20px;

}
.contatti_compila{
    padding-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}



* {
    box-sizing: border-box;
  }
  
  .modulo, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 8px 8px 8px 0;
    display: inline-block;
  }
  
  .submit-button-con {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 25px;
    width: 700px;
    position: relative;
    right: 50%;
    left: 30%;
  }
 
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  

  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 900px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
.riga{
    padding: 10px;
    border-bottom: 2px solid #ff7a57;
} 



