@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
/* navbar */

.navbar {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 5rem;
    width: 100%;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #ff7a57;
    line-height: 80px;
}

.right ul {
    display: flex;
    list-style: none;
}

.right ul li a {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #2c2c2a;
    cursor: pointer;
    text-decoration: none;
}

.right ul li a:hover {
    border-radius: 7px;
    color: #ff7a57;
}
/*
@media screen and (max-width:805px) {
    .list {
        width: 100%;
        height: 100vh;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 110px;
        left: 100%;
        transition: all 1s;
        z-index: 1;
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
    }
*/

.left img{
    padding-top: 20px;
    width: 100x;
    height: 80px;
}
.list li{
    padding: 0 10px;
}

/* footer */
.containerf{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    clear: both;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ff7a57;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #bbbb;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

/*responsive*//*
@media(max-width: 805px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
  .footer-col h4::before{
    background-color: transparent;
}

}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
*/
/* Slider */
.foto{
    display: flex;
    justify-content: center;
    padding: 30px;
    position: static;
}
.carousel {
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  width: 50vw;
  height: 50vh;
  position: relative;
  float: left;
}

.carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-slide{
  border-radius: 30px;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 40px;
  top: 50%;
  transform: translateY(-50%);
  color: #2c2c2a;
  cursor: pointer;
  border-radius: 10px;
  padding: 0 15px;
  background-color: transparent;
}

.carousel-button:hover,
.carousel-button:focus {
  color: black;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button.prev {
  left: 20px;
}

.carousel-button.next {
  right: 20px;
}

.offerte{
 padding-top: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.testo{
  text-align:center;
  font-size: 30px;
  padding-top: 20px;
}
.veditutte{
  font-size: 18px;
  padding-left: 1350px;
  padding-bottom: 20px;
  font-weight: 600;
}
.veditutte a{
  text-decoration: none;
  color: #2c2c2a;
}
.veditutte a:hover{
  color: #ff7a57;
  text-decoration: underline;
}

.azienda2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
}
.cont-errore{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.errore{
  font-size: 34px;
  text-align: center;
  font-weight: bold;
 
}

#menu{
  border-radius: 25px;
  height: 30px;
}

.coupon-home{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.errors li{
  padding-top: 10px;
  color:red;
}
.area{
  padding-top: 20px;
  text-align: center;
  width: 100%;
  height: 50px;
}
.benvenuto{
  font-size: 18px;
  padding-left: 10px;
  padding: 5px;
  padding-top: 40px;
  border-bottom:2px solid #ff7a57;
}
.Cont{
  display: flex;
  justify-content: center;
  padding: 30px;
  padding-bottom: 40px;
}
.cont-user{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  width: 400px;
  height: 40vh;
  font-size: 18px;
  padding: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.seleziona{
  color: #ff7a57;
  font-size: 25px;
  padding-top: 20px;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 10px;
}
.list-user{
  padding-top: 30px;
}
.list-user li{
  padding-top: 10px;
  list-style: disc;
  margin-left: 10px;
  font-size: 16px;
}
.list-user a{
  color: black;
text-decoration: none;
}
.list-user a:hover{
  text-decoration: underline;
  color: #ff7a57;
}