@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
/* navbar */

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 5rem;
    width: 100%;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #ff7a57;
    line-height: 80px;
}

.right ul {
    display: flex;
    list-style: none;
}

.right ul li a {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #2c2c2a;
    cursor: pointer;
    text-decoration: none;
}

.right ul li a:hover {
    border-radius: 7px;
    color: #ff7a57;
}
/*
@media screen and (max-width:805px) {
    .list {
        width: 100%;
        height: 100vh;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 110px;
        left: 100%;
        transition: all 1s;
        z-index: 1;
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
    }
*/

.left img{
    padding-top: 20px;
    width: 100x;
    height: 80px;
}
.list li{
    padding: 0 10px;
}
/* footer */
.containerf{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    clear: both;
    margin-top: 5em;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ff7a57;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #bbbb;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

/*responsive*//*
@media(max-width: 805px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
  .footer-col h4::before{
    background-color: transparent;
}

}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
*/
/* Slider */
.foto{
    display: flex;
    justify-content: center;
    padding: 30px;
    position: static;
    margin-top: 20px;
}
.carousel {
  width: 70vw;
  height: 70vh;
  position: relative;
  float: left;
}

.carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 60px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff7a57;
  cursor: pointer;
  border-radius: 10px;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: #ff7a57;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 20px;
}

.carousel-button.next {
  right: 20px;
}

.offerte{
  margin-top: 20px;
 padding-top: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.testo{
  text-align:center;
  font-size: 30px;
  padding-top: 20px;
}
.veditutte{
  margin-left: 1150px;
}
.veditutte a{
  text-decoration: none;
  color: #2c2c2a;
}
.veditutte a:hover{
  color: #ff7a57;
  text-decoration: underline;
}

h2{
  margin-top: 20px;
  text-transform: uppercase;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  color: #f23506;
  font-size: large;
}








article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  /* --link-icon-opacity: 0; */
  position: relative;
  border-radius: 30px;
  box-shadow: none;
  background: #d5cece;
  transform-origin: center;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

/* article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
} */

/* stile degli elementi di base dell'articolo titolo */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

/* imagine */
figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}


article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

/* body */
.article-body {
  padding: 24px;
}
article h3{
  padding: 5px;
}
article .p{
  padding: 5px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 48px 0;
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: linear-gradient(45deg, #7c9885, #b5b682);
  min-height: 100vh;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  margin-top: 4em;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}